@model CreateGameVM

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-items="ViewBag.Categories" asp-for="CategoryId" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="SelectedDevices" class="control-label"></label>
                <select asp-for="SelectedDevices" class="form-control" asp-items="ViewBag.devices" multiple>
                </select>
                <span asp-validation-for="SelectedDevices" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Cover" class="control-label"></label>
                <input type="file" asp-for="Cover" class="form-control" id="fileInput" />
                <span asp-validation-for="Cover" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success form-control" />
            </div>
        </div>
        <div class="col-md-4 d-block d-flex justify-content-center space-between-center" id="coverSection">
            <img src="" id="coverImage" alt="Cover Image" style="width: 100%;  display: none;" />
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
            <script>
                document.getElementById('fileInput').addEventListener('change', function (event) {
                    const file = event.target.files[0]; // Get the selected file
                    const imgElement = document.getElementById('coverImage');

                    if (file && file.type.startsWith('image/')) {
                        const reader = new FileReader(); // Create a FileReader to read the file

                        reader.onload = function (e) {
                            imgElement.src = e.target.result; // Set the image source to the file's data URL
                            imgElement.style.display = 'block'; // Show the image
                        };

                        reader.readAsDataURL(file); // Read the file as a data URL
                    } else {
                        imgElement.src = ''; // Clear the image source if no valid file is selected
                        imgElement.style.display = 'none'; // Hide the image
                    }
                });
            </script>
    }
}
